<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5e3b7cb-5d18-4cfe-92bd-09c181d15384" Alias="Aaron-Lambert.svg (1)" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:14:26</CreateDate>
    <NodeName Default="Aaron-Lambert.svg (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hefecvyd/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>