<?xml version="1.0" encoding="utf-8"?>
<Media Key="5fef0116-2714-436e-a82a-2423061ac1fd" Alias="Aaron-Lambert.svg" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:12:13</CreateDate>
    <NodeName Default="Aaron-Lambert.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2s4e1pip/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>