<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6792bde-a170-4e87-beb5-e77b2e80a93f" Alias="AJ-Carter.svg" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:12:13</CreateDate>
    <NodeName Default="AJ-Carter.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fslnwfdl/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>