<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f898d70-3609-438e-8d63-f15b2a8f37a0" Alias="AJ-Carter.png" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/AJCarterpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T19:17:13</CreateDate>
    <NodeName Default="AJ-Carter.png" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/53dn4ola/aj-carter.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>