<?xml version="1.0" encoding="utf-8"?>
<Media Key="d36d179b-d276-4553-adc7-0c40696d6945" Alias="AJ-Carter.svg (1)" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/AJCartersvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:14:02</CreateDate>
    <NodeName Default="AJ-Carter.svg (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ngvm4mln/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>