<?xml version="1.0" encoding="utf-8"?>
<Media Key="040ae7e4-464c-4c40-bc50-c10dd71ccd94" Alias="Assurance-Audits.png" Level="2">
  <Info>
    <Parent Key="d687512f-ab42-49ce-82ad-41aadf183ddb">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAuditspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-05T03:02:18</CreateDate>
    <NodeName Default="Assurance-Audits.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nmwfzmrf/assurance-audits.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>