<?xml version="1.0" encoding="utf-8"?>
<Media Key="cac100d8-228d-4198-89ca-3e7657688b53" Alias="Bonds.png" Level="2">
  <Info>
    <Parent Key="d687512f-ab42-49ce-82ad-41aadf183ddb">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/Bondspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-05T03:02:19</CreateDate>
    <NodeName Default="Bonds.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k5fio5he/bonds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>