<?xml version="1.0" encoding="utf-8"?>
<Media Key="25016dad-07e5-46ac-b949-09753ba62402" Alias="Brandon-Newton.svg" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:12:14</CreateDate>
    <NodeName Default="Brandon-Newton.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l5ikhr54/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>