<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4ecf806-07f1-4b3b-a208-7d6819dfc3d0" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T19:50:53</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4rcf2vxk/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>