<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a916a7f-011a-46d1-b5ad-46e0f3420950" Alias="Brandon-Kerr.svg (1)" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:15:34</CreateDate>
    <NodeName Default="Brandon-Kerr.svg (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rxldh4ab/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>