<?xml version="1.0" encoding="utf-8"?>
<Media Key="143e191a-8c87-48f8-954a-d5953dd67f52" Alias="Brandon-Newton.svg (1)" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:12:50</CreateDate>
    <NodeName Default="Brandon-Newton.svg (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3csjz3u2/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>