<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9ddb84e-ba89-4d5f-a16a-75440528c1db" Alias="Brandon-Newton.png" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewtonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T19:02:39</CreateDate>
    <NodeName Default="Brandon-Newton.png" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yfzjw15a/brandon-newton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>