<?xml version="1.0" encoding="utf-8"?>
<Media Key="da1f4d97-a44a-4cbf-9a21-e5e7a8beea70" Alias="Brandon-Kerr.svg" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:12:13</CreateDate>
    <NodeName Default="Brandon-Kerr.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mxyl0ocr/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>