<?xml version="1.0" encoding="utf-8"?>
<Media Key="211ae443-ed33-4a7f-81f0-74ae78c86590" Alias="Financial-Advisors.png" Level="2">
  <Info>
    <Parent Key="d687512f-ab42-49ce-82ad-41aadf183ddb">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/FinancialAdvisorspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-05T03:02:18</CreateDate>
    <NodeName Default="Financial-Advisors.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zqxfzf00/financial-advisors.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>