<?xml version="1.0" encoding="utf-8"?>
<Media Key="059fe3b9-a3f8-4f54-9e24-f030f18552b7" Alias="Home-Hero.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHerojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-03T17:50:02</CreateDate>
    <NodeName Default="Home-Hero.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/gyuntm2r/sl-home2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>