<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a7f9ba8-877c-4667-9acc-58762d4a377c" Alias="Kevin-Gardnet.svg" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnetsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:12:13</CreateDate>
    <NodeName Default="Kevin-Gardnet.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/litn1odh/kevin-gardnet.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>