<?xml version="1.0" encoding="utf-8"?>
<Media Key="0da43afc-145e-41a9-8f27-7c817539f427" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:16:24</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b0dbn10f/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>