<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ea26732-78cd-4e9b-be6a-25d56f19d6a7" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:12:14</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ydnab1gw/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>