<?xml version="1.0" encoding="utf-8"?>
<Media Key="b38b373a-243c-4b32-996c-e7e66a3ac344" Alias="Miranda-Dayton.svg (1)" Level="2">
  <Info>
    <Parent Key="a54694ed-4e69-432c-a749-52f6c88100f0">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T13:15:58</CreateDate>
    <NodeName Default="Miranda-Dayton.svg (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zcfcsujh/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>