<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ad0f731-ef89-46fd-ba2e-4738a6cc5845" Alias="Risk-Management.png" Level="2">
  <Info>
    <Parent Key="d687512f-ab42-49ce-82ad-41aadf183ddb">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-05T03:02:18</CreateDate>
    <NodeName Default="Risk-Management.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xy4jnpha/risk-management.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>