<?xml version="1.0" encoding="utf-8"?>
<Media Key="d687512f-ab42-49ce-82ad-41aadf183ddb" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T02:59:10</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>