<?xml version="1.0" encoding="utf-8"?>
<Media Key="103a52e5-4ef1-4bd7-86d4-7c31b720bb9c" Alias="signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T22:41:48</CreateDate>
    <NodeName Default="signature.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c5xjr2xk/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>