<?xml version="1.0" encoding="utf-8"?>
<Media Key="477fb2ba-bd86-4d67-8942-155905eaf837" Alias="Statistic-Advisors.png" Level="2">
  <Info>
    <Parent Key="d687512f-ab42-49ce-82ad-41aadf183ddb">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/StatisticAdvisorspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-05T03:02:18</CreateDate>
    <NodeName Default="Statistic-Advisors.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gv2dt2pp/statistic-advisors.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>