<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e89e3e8-da4c-4a3c-8b3b-77011a20e010" Alias="Tax-Trusts.png" Level="2">
  <Info>
    <Parent Key="d687512f-ab42-49ce-82ad-41aadf183ddb">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxTrustspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-05T03:02:19</CreateDate>
    <NodeName Default="Tax-Trusts.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m2un4kbf/tax-trusts.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>