<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e51c462-ac41-436b-9008-3f2cf8bb130d" Alias="team.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-17T17:21:46</CreateDate>
    <NodeName Default="team.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3uhbp0bi/team.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>