<?xml version="1.0" encoding="utf-8"?>
<Content Key="25562648-c24f-41f8-89c0-4510efae3c87" Alias="2025-38-06 01:38 - test" Level="2">
  <Info>
    <Parent Key="f39178e6-8d03-4783-9ee5-690e808309be">Form Submissions</Parent>
    <Path>/FormSubmissions/test</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T01:38:37</CreateDate>
    <NodeName Default="2025-38-06 01:38 - test" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[test@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[test]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0707101010]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>