<?xml version="1.0" encoding="utf-8"?>
<Content Key="35c497a2-f13c-4034-b6f1-4fca827a1e8b" Alias="2025-27-06 01:27 - Emil" Level="2">
  <Info>
    <Parent Key="f39178e6-8d03-4783-9ee5-690e808309be">Form Submissions</Parent>
    <Path>/FormSubmissions/Emil</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T01:27:54</CreateDate>
    <NodeName Default="2025-27-06 01:27 - Emil" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Emil@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Emil]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0707101010]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>