<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb93d138-84d8-4afd-ad27-dd62154ae662" Alias="2025-39-06 01:39 - John Doe" Level="2">
  <Info>
    <Parent Key="f39178e6-8d03-4783-9ee5-690e808309be">Form Submissions</Parent>
    <Path>/FormSubmissions/JohnDoe</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T01:39:59</CreateDate>
    <NodeName Default="2025-39-06 01:39 - John Doe" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[johndoe@dmain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[John Doe]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0707101010]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>