<?xml version="1.0" encoding="utf-8"?>
<Content Key="31f1c059-20f9-45af-9d78-7cd07d601655" Alias="About" Level="2">
  <Info>
    <Parent Key="b4637d74-19d0-4097-b6bd-64ddfd8807d8">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-11-04T13:16:37</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4387943e-75db-400a-951d-e9ff849fde24">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "74e1cfde-0353-4598-9739-4ced1faea78e",
      "key": "04433a82-3c7b-4cdf-a1d3-d8f83e802d64",
      "udi": null,
      "values": [
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-style: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration: none;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-style: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; text-align: start; text-indent: 0px; text-transform: none; white-space: pre-wrap; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration: none;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Expert"
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0c12881c-0d10-42bb-a822-3055f78d9709",
                "key": "ece6f440-16b5-42db-b131-b3d739df0070",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "87a5a17e-7866-482d-80ea-06d1e0a82589",
                        "mediaKey": "d9ddb84e-ba89-4d5f-a16a-75440528c1db",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0c12881c-0d10-42bb-a822-3055f78d9709",
                "key": "4399e462-8a04-4bde-8552-19390515c80c",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "220c1d8b-ea3a-4d42-b122-3c0917de7926",
                        "mediaKey": "8f898d70-3609-438e-8d63-f15b2a8f37a0",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0c12881c-0d10-42bb-a822-3055f78d9709",
                "key": "817d6579-bf52-4530-af1b-af963ac7bc25",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "731cc010-d215-4d8b-a63f-995fd711f423",
                        "mediaKey": "3dccbebd-d41c-4dbb-b91c-0126af0d92c0",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0c12881c-0d10-42bb-a822-3055f78d9709",
                "key": "50af2520-c186-4ca0-9097-3719da1d52fe",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6826da0b-5059-4131-8204-b5d809cb5026",
                        "mediaKey": "48c4d171-d13e-4526-9ad1-470fec346b7e",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0c12881c-0d10-42bb-a822-3055f78d9709",
                "key": "cf843971-c2a1-4de6-bda1-8ad56d54be10",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3ad5aac5-c8fe-4792-ad18-05a1d0ef8bb7",
                        "mediaKey": "05ccd5af-dff6-47b5-81ae-bf154eed3e9f",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0c12881c-0d10-42bb-a822-3055f78d9709",
                "key": "83175849-de67-4eec-afcc-d90c9f936a95",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a537adb1-d110-4869-905c-9491581377ab",
                        "mediaKey": "75379b2e-e1f4-4407-91b1-a4506d4ac6bb",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "0c12881c-0d10-42bb-a822-3055f78d9709",
                "key": "20ba9fae-7478-45dc-8678-27de384aee66",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "163b605c-2fd0-4703-8834-5f9f463565b6",
                        "mediaKey": "17828280-8978-4d3a-9eb0-a39a65ac80c0",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ece6f440-16b5-42db-b131-b3d739df0070",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4399e462-8a04-4bde-8552-19390515c80c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "817d6579-bf52-4530-af1b-af963ac7bc25",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "50af2520-c186-4ca0-9097-3719da1d52fe",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cf843971-c2a1-4de6-bda1-8ad56d54be10",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "83175849-de67-4eec-afcc-d90c9f936a95",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "20ba9fae-7478-45dc-8678-27de384aee66",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "ece6f440-16b5-42db-b131-b3d739df0070",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4399e462-8a04-4bde-8552-19390515c80c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "817d6579-bf52-4530-af1b-af963ac7bc25",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "50af2520-c186-4ca0-9097-3719da1d52fe",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cf843971-c2a1-4de6-bda1-8ad56d54be10",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "83175849-de67-4eec-afcc-d90c9f936a95",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "20ba9fae-7478-45dc-8678-27de384aee66",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "04433a82-3c7b-4cdf-a1d3-d8f83e802d64",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "04433a82-3c7b-4cdf-a1d3-d8f83e802d64",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>