<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf19be3e-462a-482f-b9bf-eda0a33b7bd8" Alias="Contact" Level="2">
  <Info>
    <Parent Key="b4637d74-19d0-4097-b6bd-64ddfd8807d8">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-17T16:18:44</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b45e4426-fd31-4066-b7f6-7ff071576675">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact US]]></Value>
    </pageTitle>
  </Properties>
</Content>