<?xml version="1.0" encoding="utf-8"?>
<Content Key="380910e2-99e7-40ae-97b3-3fe788900370" Alias="Financial Advisors" Level="3">
  <Info>
    <Parent Key="663d9ba6-b7ef-472b-98f9-9444b789b9d2">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-05T03:03:38</CreateDate>
    <NodeName Default="Financial Advisors" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="676ff79e-d517-4771-b589-c9a333b09350">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisors]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "fbf53e0f-0b57-49fa-a97a-67d134bd2b11",
    "mediaKey": "211ae443-ed33-4a7f-81f0-74ae78c86590",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>