<?xml version="1.0" encoding="utf-8"?>
<Content Key="682f5375-226e-427a-9616-f6e6080b8bb6" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="663d9ba6-b7ef-472b-98f9-9444b789b9d2">Services</Parent>
    <Path>/Onatrix/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-05T02:58:46</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="676ff79e-d517-4771-b589-c9a333b09350">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "629b1855-1a9f-49b3-bbc9-c5b7c0f1e06e",
      "key": "5badcd67-2fba-452b-a3b7-e0fc9c891beb",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "186297bd-5365-4f9e-b5f7-9b14eb47c853",
              "mediaKey": "0ad0f731-ef89-46fd-ba2e-4738a6cc5845",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5badcd67-2fba-452b-a3b7-e0fc9c891beb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5badcd67-2fba-452b-a3b7-e0fc9c891beb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp class=\u0022text-rte-xl font-bold\u0022\u003E\u003Cspan class=\u0022text-secondary\u0022\u003EHej\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "16341b94-47ea-4543-b97e-36b156e71524",
    "mediaKey": "0ad0f731-ef89-46fd-ba2e-4738a6cc5845",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>