<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c5df7ed-c423-4d8e-9a5d-fd5ef486fc4a" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-04T19:50:58</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c282e7af-5696-490c-aa22-8d79f1ac616c",
      "key": "4431fffc-3e46-4938-817e-f7d757f5cac3",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "c282e7af-5696-490c-aa22-8d79f1ac616c",
      "key": "a6eacf74-2e4c-433c-a292-49f5c8ad48b1",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "c282e7af-5696-490c-aa22-8d79f1ac616c",
      "key": "647a1e46-45c0-404b-bd95-c5cab3b19c79",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4431fffc-3e46-4938-817e-f7d757f5cac3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a6eacf74-2e4c-433c-a292-49f5c8ad48b1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "647a1e46-45c0-404b-bd95-c5cab3b19c79",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4431fffc-3e46-4938-817e-f7d757f5cac3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "647a1e46-45c0-404b-bd95-c5cab3b19c79",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a6eacf74-2e4c-433c-a292-49f5c8ad48b1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "6eb4ddd7-7714-40c2-9bf3-7f927fd39e5f",
    "mediaKey": "3eea4dc7-f219-42d3-9f09-9da8bafd5f83",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>