@import "tailwindcss";
@import "./rte.css";
@import "./forms.css";
@import "./swiper.css";

@theme{
        --color-neutral:#ffffff;
        --color-white:#f2eddc;
        --color-white-100:#f7f7f7;
        --color-dark:#0e0e0e;
        --color-primary:#4f5955;
        --color-main-light:#606966;
        --color-accent:#f2eddc;
        --color-secondary:#d9c3a9;
        --color-gray-400:#4b5264;
        --color-body-text:#535656;
        --color-body-text-100:#999999;
        --color-note1:#9c9ea6;
        --color-border-gray:#eaeaea;
        --color-border-400:#c7c8c9;

        --font-poppins: "poppins", sans-serif;
        

        --text-rte-xl: 4.375rem;
        --text-rte-lg: 2.5rem;
        --text-rte-md: 1.25rem;
        --text-rte-sm: 1rem;
        --text-rte-xs: 0.875rem;
}

body{
    @apply font-poppins;
}


.rte h3,
.rte h3 span{
    font-size: 2.5rem !important;
    color: var(--color-primary) !important;
    font-weight: var(--font-weight-bold) !important;
}

.current a{
    @apply text-secondary;
}

.rte-ul {
    @apply list-disc pl-5 mt-3;
}

.rte-ul li{
    @apply text-rte-xs text-body-text mb-3;
}

.rte-ul li::marker{
    @apply text-secondary;
}

.rte p {
    @apply mb-3;
}


.rte-img-full img{
    @apply w-full h-auto object-cover;
}
  