.rte-heading-1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .rte-heading-2 {
    font-size: 2rem;
    font-weight: 600;
  }
  
  .rte-heading-3 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  