<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f1d81b5-d6df-4305-9b78-1cabfdee1af1" Alias="About Us Page - fill-form - Block List Property Editor UI" Level="1">
  <Info>
    <Name>About Us Page - fill-form - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "af165965-ff6d-45db-a128-d9325a96747b"
    }
  ]
}]]></Config>
</DataType>