<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb323f1f-2197-45cc-bc72-5066006445f4" Alias="About Us Page - Mission Statement - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>About Us Page - Mission Statement - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>