<?xml version="1.0" encoding="utf-8"?>
<DataType Key="370597c9-510c-4633-86ea-f9b5a5a1baac" Alias="Home Page - Hero Link - Multi URL Picker Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Hero Link - Multi URL Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>