<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4a0a8998-2092-4be7-b678-3ef76a3dbbef" Alias="Ontario - Sections" Level="1">
  <Info>
    <Name>Ontario - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8468d6f1-1c36-423a-a884-c653e03133fb"
    },
    {
      "contentElementTypeKey": "0fe5fd93-4788-43c6-935a-76cabdd6b170",
      "settingsElementTypeKey": "c12da7df-58d4-448a-86ce-3afef47ab542"
    },
    {
      "contentElementTypeKey": "74e1cfde-0353-4598-9739-4ced1faea78e"
    },
    {
      "contentElementTypeKey": "f5a4d1cc-1c22-4a37-bce5-bc15606132fd",
      "settingsElementTypeKey": "6f1a1b10-2e75-4192-8fb1-6c59c7029b1c"
    }
  ]
}]]></Config>
</DataType>