<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fff38485-7aff-4d6e-a6bc-ef7fde4be43f" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "629b1855-1a9f-49b3-bbc9-c5b7c0f1e06e"
    }
  ]
}]]></Config>
</DataType>