<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aeaef305-4135-438c-a21b-fd0a7c244eb9" Alias="Service Detail - Service Detail Asides - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail - Service Detail Asides - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>