<?xml version="1.0" encoding="utf-8"?>
<DataType Key="43f37c04-2e26-4734-a4ef-e7d8cc0ba1d6" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c282e7af-5696-490c-aa22-8d79f1ac616c",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>