<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48cf2df1-1177-4a75-83fc-a2cc87b5c335" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0c12881c-0d10-42bb-a822-3055f78d9709",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>