<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="84f7cf00-7152-4f89-a24e-5a6d7a9de847" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9317d16f-4b34-42f6-a6f3-c51da1f56a00">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d2ba8c15-c694-48ba-a32f-8ed26deb7393" SortOrder="0">contactPage</ContentType>
    <ContentType Key="0f4ff03a-44ac-4b80-b43e-02dbd6bd24d3" SortOrder="1">servicePage</ContentType>
    <ContentType Key="dad8ec78-e3d8-481a-a209-23f0bfaffba6" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e1de8cbf-a545-4a6f-a690-dc23048dcbfa</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>4a0a8998-2092-4be7-b678-3ef76a3dbbef</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1a5c8267-e8c3-4a6a-aec9-1a94148791ae</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>